suite_name: "Inspect Bias Evaluation Suite"
test_suite:

  - id: "harbor_test"
    name: "Harbor Hello World"
    image: "asqiengineer/test-container:harbor-latest"
    systems_under_test:
      - codex-oaic
      # - qwen-code-oaic
      # - claude-code-oaic
    params:
      dataset: hello-world
      task: hello-world
    volumes:
      output: /Users/linus/asqi-engineer/output

  - id: "task_i"
    name: "Harbor Hello World"
    image: "asqiengineer/test-container:harbor-latest"
    systems_under_test:
      - codex-oaic
    params:
      dataset: strongreject@parity
      task: strongreject_disinformation_and_deception_0004_pap_logical_appeal
    volumes:
      output: /Users/linus/asqi-engineer/output